<div id="o-que-e" class="about">
  <h2 class="text-center page-title">O que é?</h2>
  <div class="container">
    <div class="row text-center">
      <%
        var col = Math.ceil(12/about.length);
        about.forEach(function (item) {
      %>
      <div class="col-md-<%= col %>">
        <img src="<%= base %><%= item.img %>">
        <h4 class="about-title"><%= item.title %></h4>
        <p><%= item.description %></p>
      </div>
      <% }) %>
    </div>
  </div>
</div>
