<% if (photos) { %>
<div id="veja-mais" class="photos content">
  <h2 class="text-center page-title">Veja mais</h2>

  <div class="container">
    <div class="text-center row">

      <% photos.forEach(function (photo) { %>
      <div class="col-md-3 col-sm-6 col-xs-12 mb photo-frame">
        <a class="fancybox photo-gallery" rel="photos" href="<%= base %><%= photo %>">
          <img src="<%= base %><%= photo %>" alt="<%= title %>">
        </a>
      </div>
      <% }) %>

    </div>
  </div>
</div>
<% } %>
