<%- partial("partials/_header", { menu: menu }) %>

<div class="space-from-menu gallery-banner js-flickity" data-flickity-options='{ "autoPlay": 3000 }'>
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="main-banner-title">Ferramentas para difundir o conceito de Internet das Coisas</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main-banner main-banner-kit-iot">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="main-banner-title">
            Kit de Desenvolvimento<br>
            Internet das Coisas<br>
            Telef么nica | Vivo
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main-banner main-banner-kit-iot-4g">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="main-banner-title">
            Kit de Desenvolvimento<br>
            Internet das Coisas<br>
            Telef么nica | Vivo 4G
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main-banner main-banner-kit-iot-wearable">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="main-banner-title">
            Kit de Desenvolvimento<br>
            Internet das Coisas<br>
            Telef么nica | Vivo Wearable
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main-banner main-banner-kit-de-conectividade">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="main-banner-title">
            Kit de Conectividade<br>
            Internet das Coisas<br>
            Telef么nica | Vivo
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix main-categories">
  <% categories.forEach(function (category) { %>
  <div class="col-md-3 main-category" style="background-image: url(<%= category.img %>)">
    <a href="<%= category.link %>" class="main-category-link">
      <h2 class="main-category-title"><%= category.title %></h2>
      <% if (category.description) { %>
        <p><%= category.description %></p>
      <% } %>
    </a>
  </div>
  <% }) %>
</div>
