<%- partial("partials/_header", { menu: menu }) %>

<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="main-banner-title">Ferramentas para difundir o conceito de Internet das Coisas</h1>
      </div>
    </div>
  </div>
</div>

<div class="clearfix main-categories">
  <% categories.forEach(function (category) { %>
  <div class="col-md-3 main-category" style="background-image: url(<%= category.img %>)">
    <a href="<%= category.link %>" class="main-category-link">
      <h2 class="main-category-title"><%= category.title %></h2>
      <% if (category.description) { %>
        <p><%= category.description %></p>
      <% } %>
    </a>
  </div>
  <% }) %>
</div>
