<div class="main-banner main-banner-kit-iot">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="main-banner-title"><%= title %></h1>
        <h2 class="main-banner-subtitle"><%= description %></h2>
        <h2 class="main-banner-subtitle">Kit v.1</h2>
        <a href="http://www.youtube.com/watch?v=MXSGkJV8mao" class="btn btn-lg btn-success mt fancybox-media">
          <i class="icon-youtube"></i> Assista ao vídeo
        </a>
      </div>
    </div>
  </div>
</div>

<%- partial("../partials/_about", { about: public['kit-iot']._data.about }) %>

<%- partial("../partials/_docs", { docs: public['kit-iot']._data.docs }) %>

<%- partial("../partials/_gallery", { photos: public['kit-iot']._data.photos }) %>
